* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
}

#navbar {
    display: flex;
    width: 20%;
    justify-self: center;
    margin-top: 40px;
}

.tab {
    background-color: slategrey;
    padding: 10px;
}
